services:
  app:
    image: mcr.microsoft.com/devcontainers/typescript-node:24-trixie
    volumes:
      - ../:/workspace:cached
    command: sleep infinity
    depends_on:
      - db
    network_mode: service:db

  db:
    image: postgres:18.2-alpine3.23
    restart: unless-stopped
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpassword
      POSTGRES_DB: devdb
    volumes:
      - postgres-data:/var/lib/postgresql

volumes:
  postgres-data: